* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --themebc: #113886;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #eee !important;
}

.content {
    height: 100vh;
    width: 100%;
    display: flex;
    background-color: #484848;
}

.sidebar {
    width: 250px;
    background-color: var(--themebc);
}

.main-content {
    width: 100%;
}