* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --themebc: #113886;
    --themgreen: #0AA06E;
}

.content {
    display: flex;
}

/* ANIMATION */


/* HOVER */
.header a:hover { 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}


/* ================= */
.content {
    height: 100vh;
    width: 100%;
}

.header {
    grid-area: header;
    background-color: rgb(252, 252, 252);
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header a {
    text-decoration: none;
    background-color: var(--themebc);
    color:#fff;
    padding: 3px 12px;
    border-radius: 5px;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: .3s all ease;
    
}
.hidden {
    width: 0;
}
.main-content {
    width: 100%;
    height: 100vh;
}

.sidebar {
    background-color: #113886;
    width: 250px;
    padding: 10px 5px;
    transition: .3s all ease;
    overflow-y: auto;
    position: relative;
    z-index: 9999;
    top: 0;
    bottom: 0;
}

.side-link {
    display: flex;
    flex-direction: column;
}
.side-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

.side-img img {
    width: 135px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    padding: 5px 10px 5px 5px;
    text-align: left;
    border-radius: 17px;
    transition: .4s all ease-in;
    cursor: pointer;
    margin-bottom: .1rem;
}

.space {
    margin:0 10px;
}

.active {
    background-color: #fff;
    color: var(--themebc) !important;
}

.dropdown-btn {
    border: none;
}

.dropdown-container {
    margin-top: 4px;
    display: none;
    flex-direction: column;
    padding-left: 12px;
}

.links a:hover, .dropdown-container a:hover {
    background-color: #fff;
    color: var(--themebc) !important;
}

.link-below {
    margin-top: auto;
}


/* ===Panel Dessign === */
.panel-title {
    font-size: 24px;
}
.panel-dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 12px;
}

/* DASHBOARD BOX */
.dashboard-card {
    border: none !important; 
    border-left: 4px solid var(--themecolor) !important;
}

.dashboard-card, .d-card-body {
    background-color: #fff;
    border-radius: 0;
}

.d-card-body {
    padding: 0;
    padding: 6px;
}

.dashboard-img {
    width: 50px !important;
    height: 50px !important;
}
.dcontent {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas: 
        "top top"
        "left right";
    padding-right: 5px;
}
.dcontent > div {
    padding: 4px 3px;
}

.dcontent-top {
    grid-area: top;
}
.dcontent-left {
    grid-area: left;
}
.dcontent-right {
    grid-area: right;
}

.dbadge { 
    border-radius: 3px;
    background-color: var(--themebc);
    color: #fff;
    margin: 3px 0;
}
.badges > div {
    padding: 0 .7rem;
}
.badges div span:nth-child(1) {
    font-weight: 300;
}
.badges div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.2rem;
}

.shadow-drop-br{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dcontent-text {
    font-size: 1.8rem;
}

.c-scroll {
    overflow-x: auto !important;
  }


/* FORM CSS */
.clearance-card {
    min-height: 80vh !important;
}

/* .btn-create {
    background-color: var(--themgreen);
    color: #fff;
} */
  

/* ===Media queries and Scroll bar === */

@media only screen and (max-width: 1000px){
    .content {
        flex-direction: row;
        position: absolute;
    }
    .sidebar {
        position: absolute;
        z-index: 9999;
        display: none;
    }
    .dashboard-card {
        margin:0 auto;
    }
    
}

@media only screen and (max-width: 520px){
    .dashboard-card {
        width: 80% !important;
        margin-bottom: 8px !important;
    }
}

/* === Scroll Bar ===  */
/* width */
::-webkit-scrollbar {
    width: 2px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3d3d3; 
    width: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #113886; 
    border-radius: 12px;
    width: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0139a9; 
    width: 2px;
  }

