* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --themebc: #113886;
    --themgreen: #0AA06E;
    --themorange: #FF8B28;
    --shadow-2xs: 0 1px 2px rgba(134, 144, 162, 0.1);
    --shadow-xs: 0 2px 4px rgba(134, 144, 162, 0.15);
    --shadow-sm: 0 3px 6px rgba(134, 144, 162, 0.2);
    --shadow-md: 0 4px 8px rgba(134, 144, 162, 0.25);
    --shadow-lg: 0 6px 12px rgba(134, 144, 162, 0.3);
    --shadow-xl: 0 12px 24px rgba(134, 144, 162, 0.35);
    --shadow-2xl: 0 24px 48px rgba(134, 144, 162, 0.4);
    
    --shadow-focus: 0 0 0 4px rgba(0, 84, 203, 0.2);
    --shadow-success: 0 0 0 4px rgba(18, 181, 57, 0.2);
    --shadow-warning: 0 0 0 4px rgba(210, 127, 0, 0.2);
    --shadow-danger: 0 0 0 4px rgba(203, 18, 0, 0.2);
    --shadow-info: 0 0 0 4px rgba(0, 200, 177, 0.2);
}


.btn-search:hover {
    background-color: #f5f5f5;
    box-shadow: var(--shadow-xs);
    border: 1px solid #e0e0e0;
}

.content {
    display: flex;
}

/* ANIMATION */


/* HOVER */
.header button:hover { 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 5px 2px;
}
.b-sw { 
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 5px 2px;
}


/* ================= */
.content {
    height: 100vh;
    width: 100%;
}

.header {
    grid-area: header;
    background-color: rgb(252, 252, 252);
    height: 55px;
    display: flex;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.header a {
    text-decoration: none;
    background-color: var(--themebc);
    color:#fff;
    padding: 3px 12px;
    border-radius: 5px;
    margin: 5px 15px;
    font-size: 1.5rem;
    transition: .3s all ease;
    
}
.hidden {
    width: 0;
}
.main-content {
    width: 100%;
    min-height: 100vh;
}

.sidebar {
    background-color: #113886;
    padding: 10px 5px;
    transition: .3s all ease;
    overflow-y: auto;
    position: fixed;
    z-index: 9999;
    height: 100vh;
    top: 0;
    bottom: 0;
}

.sidebar-back {
    width: 19vw;
}

.sidebar {
    width: 16vw;
}

.side-link {
    display: flex;
    flex-direction: column;
}
.side-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

.side-img img {
    width: 135px;
}

.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.links a{
    text-decoration: none;
    font-size: 1rem;
    color: #fff;
    padding: 5px 10px 5px 5px;
    text-align: left;
    border-radius: 17px;
    transition: .4s all ease-in;
    cursor: pointer;
    margin-bottom: .1rem;
}

.space {
    margin:0 10px;
}

.active {
    background-color: #fff;
    color: var(--themebc) !important;
}

.dropdown-btn {
    border: none;
}

.dropdown-container {
    margin-top: 4px;
    display: none;
    flex-direction: column;
    padding-left: 12px;
}

.links a:hover, .dropdown-container a:hover {
    background-color: #fff;
    color: var(--themebc) !important;
}

.link-below {
    margin-top: auto;
}


/* ===Panel Dessign === */
.panel-title {
    font-size: 24px;
}

.menu-toggle-open, .menu-toggle-close {
    font-size: 20px;
    cursor: pointer;
    background-color: var(--themebc);
    color: white;
    padding: 5px 12px;
    border: none;
    border-radius: 6px;
    margin-left: 19px;
    transition: .3sec all ease-in;
}

.menu-toggle-close {
    display: none;
}

.menu-toggle-open:hover, .menu-toggle-close:hover {
   box-shadow: var(--shadow-lg);
}

.panel-dashboard{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(245px, 1fr));
    gap: 12px;
}

/* DASHBOARD BOX */
.dashboard-card {
    border: none !important; 
    border-left: 4px solid var(--themecolor) !important;
}

.dashboard-card, .d-card-body {
    background-color: #fff;
    border-radius: 0;
}

.d-card-body {
    padding: 0;
    padding: 6px;
}

.dashboard-img {
    width: 50px !important;
    height: 50px !important;
}
.dcontent {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas: 
        "top top"
        "left right";
    padding-right: 5px;
}
.dcontent > div {
    padding: 4px 3px;
}

.dcontent-top {
    grid-area: top;
}
.dcontent-left {
    grid-area: left;
}
.dcontent-right {
    grid-area: right;
}

.dbadge { 
    border-radius: 3px;
    background-color: var(--themebc);
    color: #fff;
    margin: 3px 0;
}
.badges > div {
    padding: 0 .7rem;
}
.badges div span:nth-child(1) {
    font-weight: 300;
}
.badges div span:nth-child(2) {
    font-weight: 500;
    font-size: 1.2rem;
}

.shadow-drop-br{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.dcontent-text {
    font-size: 1.8rem;
}

.c-scroll {
    overflow-x: auto !important;
  }


.settings {
    margin: 0 40px;
}


.d-bl {
    border-left: 5px solid rgb(233, 231, 231);
    padding-left: 20px;
    border-radius: 5px;
}


  /* Search bar and Filter and pagination */
.search-bar {
    gap: 10px!important;
    justify-content: space-between;
}

.btn-group> ul li > a:hover{
    background-color: var(--themebc);
    color: #fff;
}

.btn-group> ul li.active a, .page-link, .btn-theme, .btn-default{
    background-color: var(--themebc) !important;
    color: #fff !important;
}
.page-link {
    margin: .1px;
    transition: .3s all;
}
.page-link:hover {
    color: #00ff9d;
}



/* Default Button */
.btn-default {
    background-color: var(--themebc) !important;
    color: #fff !important;
}

.btn-default-orange {
    background-color: var(--themorange) !important;
    color: #fff !important;
}

.default-hover:hover, .btn-default:hover {
    color: #fff !important;
    box-shadow: var(--shadow-lg) !important;
}

.btn-default:focus:not(:focus-visible) {
    outline: none;
    border: none;
  }



.deficiency-card {
    height: calc(60vh) !important;
    overflow-x: auto;
}

.add-deficiency-table {
    max-height: 300px;
    overflow: auto;
}

/* FORM CSS */
.clearance-card {
    min-height: 100vh !important;
}

.designee-list-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.student-clearance-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.card-designee {
    padding: 5px;
}

.btn-badge {
    border-radius: 0;
}

.theme-orange {
    background-color: var(--themorange);
}
.text-orange {
    color: var(--themorange);
}
.badge-color {
    background-color: var(--themebc);
    color: #fff;
}
.circle-btn {
    background: none !important;
    color: var(--themebc) !important;
    font-size: 20px;
}
.circle-btn:hover {
    color: var(--themebc) !important;
    background-color: rgb(242, 242, 242) !important;
}

.stclearance-card {
    background-color: var(--themebc) !important;
    color: #fff;

}

.title-signatory {
    background-color: var(--themebc);
    color: #fff;
    padding: 5px 50px;
    border-radius: 25px;
}

/* Tooltip */
.custom-tooltip.tooltip > .tooltip-inner{
    background-color: #113886;
    color: #fff;
}

.tooltip.bs-tooltip-top .tooltip-arrow::before {
    border-top-color: var(--themebc);
  }

  .tooltip.bs-tooltip-bottom .tooltip-arrow::before {
    border-bottom-color: var(--themebc);
  }

  .tooltip.bs-tooltip-start .tooltip-arrow::before {
    border-left-color:  var(--themebc);
  }

  .tooltip.bs-tooltip-end .tooltip-arrow::before {
    border-right-color:  var(--themebc);
  }

.deficiency-body {
    display: flex !important;
    flex-direction: row;
    justify-content: space-between !important;
    gap: 20px !important;
}

  /* Button Over */
.btn-over {
    position: fixed !important;
    bottom: 10px;
    left: 245px !important;
    z-index: 999999;
}
.tab-nav .nav-item .nav-link{
   font-size: 12px !important;
   padding: 0;
   padding:10px 5px;
    
}

.bg-theme {
    background-color: var(--themebc) !important;
}

#reportCard {
    display: none;
    height: 400px !important;
    overflow: auto !important;
}

.reportBtn {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
 }



/* ===Media queries and Scroll bar === */

@media only screen and (max-width: 1000px){
    .content {
        flex-direction: row;
        position: absolute;
    }
    .sidebar-back {
        position: absolute;
        z-index: 9999;
        display: none;
    }

    .sidebar {
        width: 200px;
    }
    .dashboard-card{
        margin:0 auto;
    }
    .deficiency-body{
        display: grid !important;
        grid-template-columns: 1fr;
    }
    .title-signatory-def {
        justify-content: center !important;
        align-items: center;
        flex-direction: column !important;
    }
    
}

@media only screen and (max-width: 520px){
    .dashboard-card {
        width: 80% !important;
        margin-bottom: 8px !important;
    }
    .deficiency-body{
        display: grid !important;
        grid-template-columns: 1fr;
    }
}
  

  .custom-select .select-btn {
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #fff;
    border: 1px solid #cccccc44;
    box-shadow: var(--shadow-xs);
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .select-btn i {
    font-size: 20px;
    transition: .3 ease-in;
  }

  .select-options {
    display: none;
  }

  .custom-select.active-select .select-options {
    display: block !important;
  }

  .custom-select.active-select .select-btn i {
    transform: rotate(-180deg);
  }

  .custom-select .select-options {
    position: absolute;
    z-index: 999;
    padding: 0;
    margin-top: 10px;
    padding: 5px 0;
    background-color: #fff;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
  }

  .option.active {
    color: #fff;
  }

  .select-options .option {
    display: flex;
    cursor: pointer;
    padding: 5px 18px;
    border-radius: 3px;
  }
  .my-list li:hover {
    background-color: var(--themebc);
    color: #fff !important;
  }
  
/* === Scroll Bar ===  */
/* width */
::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #d3d3d3; 
    width: 2px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #113886; 
    border-radius: 12px;
    width: 2px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #0139a9; 
    width: 2px;
  }


  /* Printing */

  @media print {
    .print-only {
       display: none;
    }
 }


